{% extends 'chardata/base.html' %}

{% load get_item %}
{% load get_range %}
{% load i18n %}
{% load static_s3 %}
{% load version_url %}

{% block title %}{% trans "The Dofus Fashionista" %}: {% trans "Compare Sets" %}{% endblock %}

{% block main %}
  {% load static_s3 %}
    <link rel="stylesheet" type="text/css" href="{% static "chardata/forms.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "chardata/solution.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "chardata/compare.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static css_files.forms %}" class="forms-css css-file">
    <link rel="stylesheet" type="text/css" href="{% static css_files.solution %}" class="solution-css css-file">
    <link rel="stylesheet" type="text/css" href="{% static css_files.compare %}" class="compare-css css-file">
    
    <h1 align="center">{% trans "Compare Sets" %}</h1>
    
    
    <p class="text">{% blocktrans %}This is a comparison between set suggestions. To share it, use the link below rather than the one in your browser.{% endblocktrans %}</p>
    
    <div align="center">
        <div style="display: inline-block;">
            <button id="link_sharing_button" class="button-generic"></button>
        </div>
        <div style="display: inline-block;">
            <input class='pretty-input' type="text" id="link_sharing_url_text" value="" style="width: 600px; text-align: center;" readonly />
        </div>
    </div>
    <br>

        <table align="center" class="compare-page">
            <tr>
            <td style="vertical-align: top; padding: 15px;">
                <table class="brown-table" width="100%">
                    <tr align="left">
                        <td align="left" class="text" colspan="{{chars|length}}">
                            <div align="left" style="padding-left: 7px; padding-right: 7px;">
                        {% for char in chars %}
                            <b>{% blocktrans with n=forloop.counter %}Set {{n}}{% endblocktrans %}</b>: 
                            <a href="{{ links|get_item:char.id }}">{{ char.name }}</a><br>
                        {% endfor %}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                        
                            <div>
                             <form id="compare_form" class="hidden-form" action="{% game_url 'choose_compare_sets' %}" method="post" style="display: none;">{% csrf_token %}
                             {% for char in chars %}
                             <input type="text" value="{{ links|get_item:char.id }}" name="char{{forloop.counter0}}"></input>
                             {% endfor %}
                             </form>
                                <button id="link_add_set" class="button-generic">{% trans "Change Sets" %}</button>
                            </div>
                        </td>
                        </tr>
                </table>
                <br><br>
                <table class="brown-table" align="center" style="padding-left:10px;" width="100%">
                    <tr>
                        {% for char in chars %}
                        <td align="center" class="text">
                            <b>{% blocktrans with n=forloop.counter %}Set {{n}}{% endblocktrans %}</b>
                        </td>
                        {% endfor %}
                    </tr>
                    <tr>
                    {% for char_id in char_ids %}
                        <td align="center">
                        {% with all_items=items_sorted|get_item:char_id %}
                        {% for item in all_items %}
                            <div class="solution-item-icon-container" align="center">
                            {% if item %}
                                {% static "chardata/QuestionMark-lighttheme.png" as fallback_img %}
                                <img alt="{{item.localized_name}}" src="{{ item.file }}" class="solution-items-icon"  title="{{item.localized_name}}" align="middle" id="{{item.id}}" onerror="this.onerror=null;this.src='{{ fallback_img }}'">
                            {% endif %}
                            </div>
                        {% endfor %}
                        {% endwith %}
                        </td>
                    {% endfor %}
                    </tr>
                </table>
            </td>
            <td style="vertical-align: top; padding: 15px;">
            
            <table class="solution-stat-table">
            <tr><td colspan="3">
                <div class="solution-stat-summary-mode-option-container">       
                    <label>                    
                        <input type="radio" name="total_mode" value="final" checked="checked"> <span class="checkbox-text">{% trans "Total" %}</span>
                    </label>
                </div>
                <div class="solution-stat-summary-mode-option-container">
                    <label>
                        <input type="radio" name="total_mode" value="equip"><span class="checkbox-text">{% trans "Equip" %}</span>
                    </label>
                </div>
            </td></tr>
            <tr>
                <td class="solution-stat-summary-icon-header"></td>
                <td class="solution-stat-summary-name-header"></td>
                <td class="solution-stat-summary-value-header"></td>
            </tr>

            <tr class="solution-stat-summary-line">
                <td class="solution-stat-summary-icon-cell">
                </td>
                <td>
                </td>
                {% for char_id in char_ids_cols %}
                <td align="center" width="60"><b>
                    {% if char_id == 'diff' %}
                        {% trans "Diff" %}
                    {% else %}
                        {% blocktrans with n=forloop.counter %}Set {{n}}{% endblocktrans %}
                    {% endif %}
                </b></td>
                {% endfor %}
            </tr>

            {% include "chardata/compare_stat_line.html" with icon="chardata/Health_Points.png" stat_name=_("HP") stat_key="hp" char_ids=char_ids_cols %}
            {% include "chardata/compare_stat_line.html" with icon="chardata/Vitality.png" stat_name=_("Vitality") stat_key="vit" char_ids=char_ids_cols %}
            {% include "chardata/compare_stat_line.html" with icon="chardata/Wisdom.png" stat_name=_("Wisdom") stat_key="wis" char_ids=char_ids_cols %}
            {% include "chardata/compare_stat_line.html" with icon="chardata/Strength.png" stat_name=_("Strength") stat_key="str" char_ids=char_ids_cols %}
            {% include "chardata/compare_stat_line.html" with icon="chardata/Intelligence.png" stat_name=_("Intelligence") stat_key="int" char_ids=char_ids_cols %}
            {% include "chardata/compare_stat_line.html" with icon="chardata/Chance.png" stat_name=_("Chance") stat_key="cha" char_ids=char_ids_cols %}
            {% include "chardata/compare_stat_line.html" with icon="chardata/Agility.png" stat_name=_("Agility") stat_key="agi" char_ids=char_ids_cols %}
            {% include "chardata/compare_stat_line.html" with stat_name=_("Power") stat_key="pow" char_ids=char_ids_cols %}
            <tr class="solution-stat-summary-line"><td style="height: 20px;"</td><td></td>
    {% for char_id in char_ids_cols %}
    <td></td>
    {% endfor %}
            {% include "chardata/compare_stat_line.html" with icon="chardata/AP.png" stat_name=_("AP") stat_key="ap" char_ids=char_ids_cols %}
            {% include "chardata/compare_stat_line.html" with icon="chardata/MP.png" stat_name=_("MP") stat_key="mp" char_ids=char_ids_cols %}
            {% include "chardata/compare_stat_line.html" with icon="chardata/Range.png" stat_name=_("Range") stat_key="range" char_ids=char_ids_cols %}
            {% include "chardata/compare_stat_line.html" with icon="chardata/Summon.png" stat_name=_("Summons") stat_key="summon" char_ids=char_ids_cols %}
            {% include "chardata/compare_stat_line.html" with stat_name=_("Critical Hits") stat_key="ch" char_ids=char_ids_cols %}
            <tr class="solution-stat-summary-line"><td style="height: 20px;"</td><td></td>
    {% for char_id in char_ids_cols %}
    <td></td>
    {% endfor %}
            {% include "chardata/compare_stat_line.html" with icon="chardata/Initiative.png" stat_name=_("Initiative") stat_key="init" char_ids=char_ids_cols %}
            {% include "chardata/compare_stat_line.html" with icon="chardata/Prospecting.png" stat_name=_("Prospecting") stat_key="pp" char_ids=char_ids_cols %}
            {% include "chardata/compare_stat_line.html" with icon="chardata/Lock.png" stat_name=_("Lock") stat_key="lock" char_ids=char_ids_cols %}
            {% include "chardata/compare_stat_line.html" with icon="chardata/Dodge.png" stat_name=_("Dodge") stat_key="dodge" char_ids=char_ids_cols %}
            {% include "chardata/compare_stat_line.html" with stat_name=_("AP Reduction") stat_key="apred" char_ids=char_ids_cols %}
            {% include "chardata/compare_stat_line.html" with stat_name=_("MP Reduction") stat_key="mpred" char_ids=char_ids_cols %}
            {% include "chardata/compare_stat_line.html" with stat_name=_("AP Loss Resist") stat_key="apres" char_ids=char_ids_cols %}
            {% include "chardata/compare_stat_line.html" with stat_name=_("MP Loss Resist") stat_key="mpres" char_ids=char_ids_cols %}
            {% include "chardata/compare_stat_line.html" with stat_name=_("Pushback Resist") stat_key="pshres" char_ids=char_ids_cols %}
            {% include "chardata/compare_stat_line.html" with stat_name=_("Critical Resist") stat_key="crires" char_ids=char_ids_cols %}
            {% include "chardata/compare_stat_line.html" with stat_name=_("Pods") stat_key="pod" char_ids=char_ids_cols %}
            {% include "chardata/compare_stat_line.html" with stat_name=_("Reflects") stat_key="ref" char_ids=char_ids_cols %}
            {% include "chardata/compare_stat_line.html" with stat_name=_("Trap Damage") stat_key="trapdam" char_ids=char_ids_cols %}
            {% include "chardata/compare_stat_line.html" with stat_name=_("% Trap Damage") stat_key="trapdamper" char_ids=char_ids_cols %}
            <tr class="solution-stat-summary-line"><td style="height: 20px;"</td><td></td>
    {% for char_id in char_ids_cols %}
    <td></td>
    {% endfor %}
            {% include "chardata/compare_stat_line.html" with stat_name=_("Damage") stat_key="dam" char_ids=char_ids_cols %}
            {% include "chardata/compare_stat_line.html" with icon="chardata/Neutral.png" stat_name=_("Neutral Damage") stat_key="neutdam" char_ids=char_ids_cols %}
            {% include "chardata/compare_stat_line.html" with icon="chardata/Strength.png" stat_name=_("Earth Damage") stat_key="earthdam" char_ids=char_ids_cols %}
            {% include "chardata/compare_stat_line.html" with icon="chardata/Intelligence.png" stat_name=_("Fire Damage") stat_key="firedam" char_ids=char_ids_cols %}
            {% include "chardata/compare_stat_line.html" with icon="chardata/Chance.png" stat_name=_("Water Damage") stat_key="waterdam" char_ids=char_ids_cols %}
            {% include "chardata/compare_stat_line.html" with icon="chardata/Agility.png" stat_name=_("Air Damage") stat_key="airdam" char_ids=char_ids_cols %}
            {% include "chardata/compare_stat_line.html" with stat_name=_("Critical Damage") stat_key="cridam" char_ids=char_ids_cols %}
            {% include "chardata/compare_stat_line.html" with stat_name=_("Pushback Damage") stat_key="pshdam" char_ids=char_ids_cols %}
            {% include "chardata/compare_stat_line.html" with stat_name=_("Heals") stat_key="heals" char_ids=char_ids_cols %}
            <tr class="solution-stat-summary-line"><td style="height: 20px;"</td><td></td>
    {% for char_id in char_ids_cols %}
    <td></td>
    {% endfor %}
            {% include "chardata/compare_stat_line.html" with icon="chardata/Neutral.png" stat_name=_("Neutral Resist") stat_key="neutres" char_ids=char_ids_cols %}
            {% include "chardata/compare_stat_line.html" with icon="chardata/Strength.png" stat_name=_("Earth Resist") stat_key="earthres" char_ids=char_ids_cols %}
            {% include "chardata/compare_stat_line.html" with icon="chardata/Intelligence.png" stat_name=_("Fire Resist") stat_key="fireres" char_ids=char_ids_cols %}
            {% include "chardata/compare_stat_line.html" with icon="chardata/Chance.png" stat_name=_("Water Resist") stat_key="waterres" char_ids=char_ids_cols %}
            {% include "chardata/compare_stat_line.html" with icon="chardata/Agility.png" stat_name=_("Air Resist") stat_key="airres" char_ids=char_ids_cols %}
            <tr class="solution-stat-summary-line"><td style="height: 20px;"</td><td></td>
    {% for char_id in char_ids_cols %}
    <td></td>
    {% endfor %}    
            {% include "chardata/compare_stat_line.html" with icon="chardata/Neutral.png" stat_name=_("% Neutral Resist") stat_key="neutresper" char_ids=char_ids_cols %}
            {% include "chardata/compare_stat_line.html" with icon="chardata/Strength.png" stat_name=_("% Earth Resist") stat_key="earthresper" char_ids=char_ids_cols %}
            {% include "chardata/compare_stat_line.html" with icon="chardata/Intelligence.png" stat_name=_("% Fire Resist") stat_key="fireresper" char_ids=char_ids_cols %}
            {% include "chardata/compare_stat_line.html" with icon="chardata/Chance.png" stat_name=_("% Water Resist") stat_key="waterresper" char_ids=char_ids_cols %}
            {% include "chardata/compare_stat_line.html" with icon="chardata/Agility.png" stat_name=_("% Air Resist") stat_key="airresper" char_ids=char_ids_cols %}
            
        </table>

        {% if spell_preview_rows %}
        <br>
        <table class="solution-stat-table compare-spell-preview-table">
            <tr>
                <td colspan="99" class="compare-spell-preview-title">
                    <div style="display:flex; gap:10px; align-items:center; justify-content:center; flex-wrap:wrap;">
                        <b>{% trans "Spell damage preview" %}</b>
                        {% if spell_preview_class_options %}
                        <form method="get" style="margin:0;">
                            <label for="compare_spell_class">{% trans "Spell class" %}</label>
                            <select id="compare_spell_class" name="spell_class" onchange="this.form.submit()">
                                {% for option in spell_preview_class_options %}
                                <option value="{{ option.value }}"{% if option.selected %} selected{% endif %}>{{ option.label }}</option>
                                {% endfor %}
                            </select>
                        </form>
                        {% endif %}
                        {% if spell_preview_spell_options %}
                        <form method="get" style="margin:0;">
                            <input type="hidden" name="spell_class" value="{{ spell_preview_selected_class }}">
                            <label for="compare_spell_name">{% trans "Spell" %}</label>
                            <select id="compare_spell_name" name="spell_name" onchange="this.form.submit()">
                                {% for option in spell_preview_spell_options %}
                                <option value="{{ option.value }}"{% if option.selected %} selected{% endif %}>{{ option.label }}</option>
                                {% endfor %}
                            </select>
                        </form>
                        {% endif %}
                    </div>
                </td>
            </tr>
            <tr class="solution-stat-summary-line">
                <td class="solution-stat-summary-icon-header"></td>
                <td class="solution-stat-summary-name-header"></td>
                {% for char_id in char_ids_cols %}
                <td align="center" width="70"><b>
                    {% if char_id == 'diff' %}
                        {% trans "Diff" %}
                    {% else %}
                        {% blocktrans with n=forloop.counter %}Set {{n}}{% endblocktrans %}
                    {% endif %}
                </b></td>
                {% endfor %}
            </tr>
            {% for row in spell_preview_rows %}
            <tr class="solution-stat-summary-line compare-spell-row" data-spell-key="{{ row.key }}">
                <td class="solution-stat-summary-icon-cell">
                    {% if row.image_url %}
                    {% static "chardata/QuestionMark-lighttheme.png" as fallback_img %}
                    <img alt="" src="{{ row.image_url }}" class="compare-spell-icon" onerror="this.onerror=null;this.src='{{ fallback_img }}'">
                    {% endif %}
                </td>
                <td class="compare-spell-name-cell">{{ row.name }}</td>
                {% for char_id in char_ids_cols %}
                <td align="center" name="spell_damage_{{ row.key }}_{{ char_id }}" class="solution-stat-summary-value-cell">-</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </td>
    </tr></table>
            
            </td>
            </tr>
        </table>
    <div id="blanket" style="display:none;"></div>
    <div id="popUpDiv" style="display:none;">
        <div class="item-stats"></div>
    </div>
    <script>
        var compareItemStatsUrl = "{% game_url 'get_item_stats' %}";
    </script>
    <script src="{% static "chardata/compare_sets_popup.js" %}"></script>
<script>
$.ajaxSetup({
  data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
});


var link = {% if compare_link_shared %}"{{compare_link_shared}}"{% else %}null{% endif %};
var sharing = {% if compare_link_shared %}true{% else %}false{% endif %};
function initLinkSharing() {
    if (link) {
        $("#link_sharing_button").hide();
        $("#link_sharing_url_text").show();
        $("#link_sharing_url_text").val(link);
    } else {
        $("#link_sharing_button").html('{{ _("Get link to share")|escapejs }}');
        $("#link_sharing_url_text").hide();
        $("#link_sharing_url_text").val("");
    }
}

function setLinkSharing() {
    $.get('{{get_compare_link_url}}' + (window.location.search || ""), {}, function(data) {
        link = data;
        initLinkSharing();
        $("#link_sharing_url_text").select();
    });
}

var allCharIds = [];
var allStatTotals = {};
var allStatGears = {};
var allOptions = {};
var compareSpellDigests = {{ spell_preview_digests_json|safe }};
var compareWeaponDigests = {{ weapon_digests_json|safe }};
var compareCharLevels = {{ char_levels_json|safe }};
var compareSpellsByKey = {};
var COMPARE_LEVEL_TO_ELEMENT = ['N', 'E', 'F', 'W', 'A'];
var COMPARE_NON_DAMAGE_ELEMENTS = {
    'attracts': true,
    'pushes': true,
    'advances': true,
    'steals_mp': true,
    'removes_ap': true
};
$.each(compareSpellDigests, function(i, spell) {
    compareSpellsByKey[spell.compare_key] = spell;
});
{% for char_id in char_ids %}
{% with dict=solutions|get_item:char_id %}
var compareCharId = "{{ char_id|escapejs }}";
allCharIds.push(compareCharId);
allStatTotals[compareCharId] = {{dict.stats_total_json | safe}};
allStatGears[compareCharId] = {{dict.stats_gear_json | safe}};
allOptions[compareCharId] = {{dict.options_json | safe}}
{% endwith %}
{% endfor %}

function getAllStatsDict() {
    var equipOnly = $("input[name='total_mode']:checked").val() == "equip";
    var allStatDict;
    if (equipOnly) {
        return allStatGears;
    } else {
        return allStatTotals;
    }
}

function getPvpStatToAdd(pvpResistsAdded, statKey) {
    if (pvpResistsAdded
        && statKey.match("(fire|water|air|neut|earth)res(per)?")) {
        return pvpStatKey = "pvp" + statKey;
    } else {
        return null;
    }
}

function updateDiffs(allCharIds) {
    var newStatsDict = getAllStatsDict();

    var pvpResistsAdded = $("input[name='pvp_resists_added']").is(':checked');
    $.each(newStatsDict[allCharIds[0]], function(statKey) {
        var positiveValue = newStatsDict[allCharIds[1]][statKey];
        var negativeValue = newStatsDict[allCharIds[0]][statKey];
        var valueToWrite;
        if (positiveValue === '-') {
            valueToWrite = '-';
        } else {
            var pvpStatKey = getPvpStatToAdd(pvpResistsAdded, statKey)
            if (pvpStatKey) {
                positiveValue += newStatsDict[allCharIds[1]][pvpStatKey];
                negativeValue += newStatsDict[allCharIds[0]][pvpStatKey];
            }
            
            var diffValue = positiveValue - negativeValue;
            var diffValueString = diffValue.toString();
            if (diffValue < 0) {
                diffValueString = "<span class='red-text'>" + diffValueString + "</span>";
            } else if (diffValue > 0) {
                diffValueString = "<span class='green-text'>" + diffValueString + "</span>";
            }
            valueToWrite = diffValueString;
        }
        $("td[name=stat_value_" + statKey + "_diff]").html(valueToWrite);
    });
}

function updateAllStats(allCharIds) {
    var newStatsDict = getAllStatsDict();
    
    var pvpResistsAdded = $("input[name='pvp_resists_added']").is(':checked');
    $.each(newStatsDict[allCharIds[0]], function(statKey) {
        var bestChars = null;
        var bestCharValue = Number.NEGATIVE_INFINITY;
    
        $.each(allCharIds, function(i, charId) {
            var newStats = newStatsDict[charId];
            var options = allOptions[charId];
            var statValue = newStats[statKey];

            var pvpStatKey = getPvpStatToAdd(pvpResistsAdded, statKey)
            if (pvpStatKey) {
                statValue += newStats[pvpStatKey];
            }
            
            if (statValue > bestCharValue) {
                bestCharValue = statValue;
                bestChars = [charId];
            } else if (statValue == bestCharValue) {
                bestChars.push(charId);
            }
            
            var statValueString;
            if ((statKey === "ap" && options["ap_exo"] === true)
                || (statKey === "mp" && options["mp_exo"] === true)
                || (statKey === "range" && options["range_exo"] === true)) {
                statValueString = (statValue - 1).toString() + "+1";
            } else {
                statValueString = statValue.toString();
            }
            if (statValue < 0) {
                statValueString = "<span class='red-text'>" + statValueString + "</span>";
            }
            $("td[name=stat_value_" + statKey + "_" + charId + "]").html(statValueString);
        });
        
        if (bestChars != null
            && allCharIds.length > 2
            && bestChars.length < allCharIds.length) {
            $.each(bestChars, function(i, charId) {
                $("td[name=stat_value_" + statKey + "_" + charId + "]").wrapInner("<b></b>");
            });
        }
    });
}

function getCompareNumber(stats, key) {
    var value = stats[key];
    if (value === undefined || value === null || value === '-') {
        return 0;
    }
    return Number(value) || 0;
}

function getCompareBestElementKey(stats) {
    var best = 'str';
    var bestVal = getCompareNumber(stats, 'str');
    $.each({int: 'int', cha: 'cha', agi: 'agi'}, function(k, v) {
        var statVal = getCompareNumber(stats, v);
        if (statVal > bestVal) {
            best = v;
            bestVal = statVal;
        }
    });
    return best;
}

function resolveCompareBestElement(element, stats) {
    if (element !== 'best') {
        return element;
    }
    return {str: 'earth', int: 'fire', cha: 'water', agi: 'air'}[getCompareBestElementKey(stats)];
}

function getCompareSpellLevel(spell, charLevel) {
    if (spell.type == 'spell') {
        var numLevels = spell.level.length;
        if (charLevel < spell.level[0] || numLevels == 1) {
            return 0;
        }
        var i = 0;
        while (i < numLevels - 1) {
            if (charLevel >= spell.level[i] && charLevel < spell.level[i + 1]) {
                return i;
            }
            i = i + 1;
        }
        return i;
    } else if (spell.type == 'weapon') {
        return Math.max(COMPARE_LEVEL_TO_ELEMENT.indexOf(
            spell.element_maged.charAt(0).toUpperCase()), 0);
    } else {
        return 0;
    }
}

function calculateCompareDamageValue(damageHit, isCrit, isMin, spell, stats) {
    var mainStat = {neut: 'str', earth: 'str', fire: 'int', water: 'cha', air: 'agi'}
        [damageHit.element] || getCompareBestElementKey(stats);
    var baseValue = (isMin ? damageHit.min_dam : damageHit.max_dam);
    var multiplier = 100 + getCompareNumber(stats, mainStat);
    if (!damageHit.heals) {
        multiplier += getCompareNumber(stats, 'pow');
    }
    if (spell.type == 'weapon' || spell.type == 'weapon_non_mageable') {
        multiplier += getCompareNumber(stats, 'powweap');
    }
    var multipliedDamage = Math.floor(baseValue * multiplier / 100.0);

    var linearDamage;
    if (!damageHit.heals) {
        var resolvedEl = resolveCompareBestElement(damageHit.element, stats);
        var elementalDamage = resolvedEl + 'dam';
        linearDamage = (getCompareNumber(stats, 'dam')
                        + getCompareNumber(stats, elementalDamage));
        if (isCrit) {
            linearDamage += getCompareNumber(stats, 'cridam');
        }
    } else {
        linearDamage = getCompareNumber(stats, 'heals');
    }
    var finalDamage = Math.max(0, multipliedDamage + linearDamage);
    if (!damageHit.heals) {
        finalDamage *= (100 + getCompareNumber(stats, 'final')) / 100;
        finalDamage *= (100 - getCompareNumber(stats, 'negfinal')) / 100;
    } else {
        finalDamage *= (100 + getCompareNumber(stats, 'finalheals')) / 100;
    }
    if ((spell.type == 'weapon' || spell.type == 'weapon_non_mageable') && (!damageHit.heals)) {
        finalDamage *= (100 + getCompareNumber(stats, 'perweadam')) / 100;
    }
    if ((spell.type != 'weapon' && spell.type != 'weapon_non_mageable') && (!damageHit.heals)) {
        finalDamage *= (100 + getCompareNumber(stats, 'perspedam')) / 100;
    }
    return Math.round(finalDamage);
}

function isCompareDirectDamageHit(damageHit) {
    return (damageHit
            && damageHit.element
            && damageHit.element.indexOf('buff') == -1
            && !COMPARE_NON_DAMAGE_ELEMENTS[damageHit.element]
            && !damageHit.heals);
}

function summarizeCompareHits(spell, hits, isCrit, stats) {
    if (!hits) {
        return null;
    }
    var minDamage = 0;
    var maxDamage = 0;
    var hitCount = 0;
    $.each(hits, function(i, hit) {
        if (!isCompareDirectDamageHit(hit)) {
            return;
        }
        var resolvedElement = resolveCompareBestElement(hit.element, stats);
        var resolvedHit = $.extend({}, hit, {element: resolvedElement});
        minDamage += calculateCompareDamageValue(resolvedHit, isCrit, true, spell, stats);
        maxDamage += calculateCompareDamageValue(resolvedHit, isCrit, false, spell, stats);
        hitCount += 1;
    });
    if (hitCount == 0) {
        return null;
    }
    return {avg: Math.round((minDamage + maxDamage) / 2.0)};
}

function summarizeCompareSpell(spell, stats, charLevel) {
    if (!spell) {
        return null;
    }
    if (spell.type == 'spell' && spell.level && charLevel < spell.level[0]) {
        return null;
    }
    var level = getCompareSpellLevel(spell, charLevel);
    var normal = summarizeCompareHits(
        spell, spell.non_crit_dams && spell.non_crit_dams[level], false, stats);
    var critical = summarizeCompareHits(
        spell, spell.crit_dams && spell.crit_dams[level], true, stats);
    if (!normal && !critical) {
        return null;
    }
    return {
        normalAvg: normal ? normal.avg : null,
        criticalAvg: critical ? critical.avg : null,
        bestAvg: critical ? critical.avg : normal.avg
    };
}

function formatCompareSpellSummary(summary) {
    if (!summary) {
        return '-';
    }
    var text = summary.normalAvg === null ? '-' : summary.normalAvg.toString();
    if (summary.criticalAvg !== null) {
        text += "<br><span class='small-text'>{{ _('Crit.')|escapejs }} "
                + summary.criticalAvg.toString() + "</span>";
    }
    return text;
}

function formatCompareSpellDiff(firstSummary, secondSummary) {
    if (!firstSummary || !secondSummary) {
        return '-';
    }
    var diffValue = secondSummary.bestAvg - firstSummary.bestAvg;
    var diffValueString = diffValue.toString();
    if (diffValue < 0) {
        diffValueString = "<span class='red-text'>" + diffValueString + "</span>";
    } else if (diffValue > 0) {
        diffValueString = "<span class='green-text'>" + diffValueString + "</span>";
    }
    return diffValueString;
}

function getCompareSpellForRow(rowKey, charId) {
    if (rowKey == 'weapon') {
        return compareWeaponDigests[charId.toString()];
    }
    return compareSpellsByKey[rowKey];
}

function updateSpellPreview() {
    var newStatsDict = getAllStatsDict();
    $(".compare-spell-row").each(function() {
        var rowKey = $(this).data('spell-key');
        var summaries = {};
        var bestChars = [];
        var bestValue = Number.NEGATIVE_INFINITY;
        $.each(allCharIds, function(i, charId) {
            var spell = getCompareSpellForRow(rowKey, charId);
            var summary = summarizeCompareSpell(
                spell, newStatsDict[charId], compareCharLevels[charId.toString()]);
            summaries[charId] = summary;
            var cell = $("td[name=spell_damage_" + rowKey + "_" + charId + "]");
            cell.removeClass("compare-spell-best");
            cell.html(formatCompareSpellSummary(summary));
            if (summary) {
                if (summary.bestAvg > bestValue) {
                    bestValue = summary.bestAvg;
                    bestChars = [charId];
                } else if (summary.bestAvg == bestValue) {
                    bestChars.push(charId);
                }
            }
        });
        if (allCharIds.length == 2) {
            $("td[name=spell_damage_" + rowKey + "_diff]").html(
                formatCompareSpellDiff(summaries[allCharIds[0]], summaries[allCharIds[1]]));
        }
        if (allCharIds.length > 1 && bestChars.length > 0 && bestChars.length < allCharIds.length) {
            $.each(bestChars, function(i, charId) {
                $("td[name=spell_damage_" + rowKey + "_" + charId + "]")
                    .addClass("compare-spell-best");
            });
        }
    });
}

function updateStatsTable() {
    updateAllStats(allCharIds);
    if (allCharIds.length == 2) {
        updateDiffs(allCharIds);
    }
    updateSpellPreview();
}

$(document).ready(function() {
    initLinkSharing();
    $("#link_sharing_button").click(function(e) {
        e.preventDefault();
        setLinkSharing();
    });
    $("#link_sharing_url_text").click(function(e) {
        this.select();
    });

    updateStatsTable();
    $("input[name='total_mode']").change(updateStatsTable);
    $("input[name='pvp_resists_added']").change(updateStatsTable);
    $(".solution-items-icon").click(function() {
        if ($(this).prop('id') != 'None') {
            getItemStats($(this).prop('id'));
        }
    });

    $("#blanket").click(function() {
         top = $(window).scrollTop().pageYOffset + 10;
         popupSeriously(top);
    });
    
    $("#link_add_set").click(function() {               
        $("#compare_form").submit();
    });
});

</script>
    
{% endblock %}
