{% extends 'chardata/base.html' %}
{% load i18n %}
{% block meta_robots %}noindex, follow{% endblock %}

{% load static_s3 %}

{% block title %}{% trans "The Dofus Fashionista" %}: {% trans "Error" %}{% endblock %}

{% block main %}
  {% load static_s3 %}

    <h1 align="center">{% trans "Error" %}</h1>
    <table>
    <tr>
    <td><img alt="" src="{% static "chardata/designs/myError.png" %}"></img>
    </td>
    <td>
    <p>
        {% blocktrans with page=error %}Please configure the <a href="{{ error_link }}">{{ page }}</a> page before running the application.{% endblocktrans %}<br>
    </p>
</td>
</tr>
</table>
{% endblock %}
