{% extends 'chardata/base.html' %}

{% load i18n %}
{% load version_url %}
{% block title %}{% trans "The Dofus Fashionista" %}: {% trans "Minimum Characteristics" %}{% endblock %}

{% block main %}

    {% load static_s3 %}
    <link rel="stylesheet" type="text/css" href="{% static "chardata/forms.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static css_files.forms %}" class="forms-css css-file">
    <style>
        .min-stat-icon {
            width: 16px;
            height: 16px;
            object-fit: contain;
            vertical-align: middle;
            margin-right: 6px;
        }

        .min-stat-icon-group {
            display: inline-flex;
            align-items: center;
            gap: 3px;
        }

        .min-stat-icon-group .min-stat-icon {
            margin-right: 0;
        }
    </style>

<form id="main_form" method="post">
  {% csrf_token %}

<h1 align="center">{% trans "Minimum Characteristics" %}</h1>

<div class="min-stats-div">

  <table align="center" id="form_container">
  </table>
</div>
<br>
<br>
<div class="min-stats-div-lower">

  <table align="center" id="composite_form_container">
  </table>
</div>
<br>
<br>
<div align="center">
{% include "chardata/state_engine_all_buttons.html" with include_tailor=True %}
</div>
</form>

<script src="{% static "chardata/stateengine.js" %}"></script>
<script>      

var initialData = {{initial_data | safe}}
var all_stats = {{stats_order | safe}};  
var fixedStats = {{stats_fixed | safe}};  
var advStats = {{stats_adv | safe}};  

function buildStatIcon(iconUrl, altText) {
    if (!iconUrl) {
        return $("<span style='display:inline-block; width:16px; height:16px;'></span>");
    }
    return $("<img class='min-stat-icon' src='" + iconUrl + "' alt='" + altText + "'>");
}

function buildStatIcons(iconUrls, altText) {
    if (!iconUrls || iconUrls.length === 0) {
        return buildStatIcon('', altText);
    }
    if (iconUrls.length === 1) {
        return buildStatIcon(iconUrls[0], altText);
    }

    var container = $("<span class='min-stat-icon-group'></span>");
    $.each(iconUrls, function(index, iconUrl) {
        container.append(buildStatIcon(iconUrl, altText));
    });
    return container;
}

function updateDynamicStatIcon(lineContainer, statKey) {
    var selectedStat = all_stats.find(function(candidate) { return candidate.key === statKey; });
    var iconCell = lineContainer.find('.dynamic-stat-icon-cell');
    iconCell.empty();
    if (selectedStat) {
        iconCell.append(buildStatIcon(selectedStat.icon_url, selectedStat.name));
    }
}

function addIfNeeded() {
    var allselected = true;
    var selects = $('.stat_select');
    $.each(selects, function(index, sel_box) {
        if (!sel_box.value) {
            allselected = false;
        }
    });
    if (allselected) {
        addFields();
    }
}

function addFields() {
    var line_container = $("<tr></tr>");
    $("#form_container").append(line_container);
    line_container.append($("<td style='width: 30px' class='dynamic-stat-icon-cell'></td>"));
    var cell_container = $("<td style='width: 180px'></td>");
    line_container.append(cell_container);
    var select = $("<select class='stat_select'></select>");
    $.each(all_stats, function(index, value) {
        if (value.key != "ap" && value.key != "mp" && value.key != "range" && value.key != "hp")
        select.append($("<option value='" + value.key + "'>" + value.name + "</option>"));
     });
    select.change(function() {
        updateDynamicStatIcon(line_container, select.val());
        addIfNeeded();
    });

    cell_container.append(select);
    // Start blank (no stat chosen) without rendering an empty placeholder line.
    select.prop('selectedIndex', -1);
    line_container.append($("<td style='width: 81px'><input class='pretty-input' type='number' min='-9999' max='9999' autocomplete='off'></input></td>"));

    var remove_button = $("<td style='width: 30px'><div style='padding-top: 3px'><img src='{% static "chardata/cross-icon.png" %}'></div></td>");
    line_container.append(remove_button);

    line_container.append($("<br>"));

    var input = line_container.find("input");
    select.change(function() {
        input.attr('name', "min_" + this.value);
    });
    
    registerChangeableStateEngine(select);
    registerChangeableStateEngine(input);
    registerClickableStateEngine(remove_button.find("img"));

    remove_button.click(function() {
        $(this).parent().remove();
    });
    
    return line_container;
}

function addFixedFields(stat) {
    var line_container = $("<tr></tr>");
    $("#form_container").append(line_container);
    var icon_cell = $("<td style='width: 30px'></td>");
    icon_cell.append(buildStatIcon(stat.icon_url, stat.name));
    line_container.append(icon_cell);
    var cell_container = $("<td style='width: 180px' class='min-stat-name'>" + stat.name + "</td>");
    line_container.append(cell_container);

    line_container.append($("<td style='width: 81px'><input name='min_"+stat.key+"' class='pretty-input' type='number' min='-9999' max='9999' autocomplete='off'></input></td>"));

    line_container.append($("<td style='width: 30px'></td>"));

    var input = line_container.find("input");
    
    registerChangeableStateEngine(input);

    return line_container;
}

function setStatMin(stat, statValue) {
    var input;

    if (stat === 'adv_mins' && typeof statValue === 'object') {
        $.each(statValue, function(index, value) {
            // Default to 0 if value is not a number
            var numericValue = isNaN(value) ? 0 : value;
            $('input[name="min_' + index + '"]').val(numericValue);
        });
        return;
    }

    // This accounts for 'ap', 'mp', 'range', and any other stats not explicitly listed
    input = $('input[name="min_' + stat + '"]');

    if (input.length === 0) { // If the input does not exist, it attempts to handle dynamically added fields
        var selectThere = $("select option[value='" + stat + "']").filter(":selected");
        if (selectThere.length > 0) {
            input = selectThere.closest('tr').find('input');
        } else {
            var emptySelect = $("select.stat_select").filter(function() {
                return !$(this).val();
            }).first();
            var lineContainer = emptySelect.length > 0 ? emptySelect.closest('tr') : addFields();
            var select = lineContainer.find("select");
            select.val(stat);
            select.trigger('change');
            input = lineContainer.find("input");
            input.attr('name', 'min_' + stat);
        }
    }

    // Validate statValue for non-adv_mins cases. Default to 0 if not a number or not provided.
    var finalValue = (!isNaN(statValue) && statValue !== '' && statValue !== null) ? statValue : 0;
    input.val(finalValue);
}

function hideStatMin(statName) {
    var selectThere = $("select option[value='" + statName + "']").filter(":selected");
    if (selectThere.length > 0) {
        var lineContainer = selectThere.parent().parent();
        lineContainer.remove();
    }
}


function addCompositeMinimums(stat){
    var line_container = $("<tr></tr>");
    $("#composite_form_container").append(line_container);
    var icon_cell = $("<td style='width: 30px'></td>");
    icon_cell.append(buildStatIcons(stat.icon_urls, stat.local_name));
    line_container.append(icon_cell);
    var cell_container = $("<td  class='min-stat-name'>" + stat.local_name + "</td>");
    line_container.append(cell_container);
    line_container.append($("<td style='width: 81px'><input name='min_" + stat.key + "' class='pretty-input' type='number' min='-9999' max='9999' autocomplete='off'></input></td>"));
    line_container.append($("<td style='width: 30px'></td>"));
    var input = line_container.find("input");
    registerChangeableStateEngine(input);

    return line_container;
}

function init(data) {
    var dataToUse = data || initialData;
    
    $("#form_container").empty();
    $("#composite_form_container").empty();
    $.each(fixedStats, function(index, value) {
        addFixedFields(value);
    });
    $.each(advStats, function(index, value) {
        addCompositeMinimums(value);
    });
    if (dataToUse["minimum_stats"]) {
        $.each(dataToUse["minimum_stats"], function(stat, stat_value) {
            if (stat_value !== '') {
                setStatMin(stat, stat_value);
            }
        });
    }
    addIfNeeded();
}

$(document).ready(function() {
    function onDataReceived(data) {
        initialData = data;
        init(initialData);
    }
    
    setupStateEngine(init,
         "{% game_url 'min_stats_post' char_id %}",
         initialData,
         null,
         onDataReceived);
    addIfNeeded();
});

</script>

{% endblock %}

