{% extends 'chardata/base.html' %}

{% load i18n %}
{% load version_url %}

{% block title %}{% trans "The Dofus Fashionista" %}: {% trans "Options" %}{% endblock %}

{% block main %}

    {% load static_s3 %}
    <link rel="stylesheet" type="text/css" href="{% static "chardata/forms.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static css_files.forms %}" class="forms-css css-file">

<form id="main_form" method="post">
    {% csrf_token %}
    <h1 align="center">{% trans "Options" %}</h1>

    <p align="center" class='big-text'>{% blocktrans %}Choose what expensive or uncommon options can be used in your character's set.{% endblocktrans %}</p>

    <table align="center" width="80%">
    <tr>
    <td>
        <table>
        <tr>
        <td>
            <img alt="" src="{% static "chardata/Ga_Pa_Rune.png" %}" class="option_icon">
        </td>
        <td class='big-text'>
            {% trans "Allow AP Exo" %}<br>
            <label><input type="radio" name="ap_exo" class="change-modifies-state" value="yes">{% trans "Yes" %}</label>
            <label><input type="radio" name="ap_exo" class="change-modifies-state" value="no">{% trans "No" %}</label>
            <br>
            <br>
        </td>
        </tr>
        </table>
    </td>
    <td>
        <table>
        <tr>
         <td>
            <img alt="" src="{% static "chardata/Po_Rune.png" %}" class="option_icon">
        </td>
        <td class='big-text'>
            {% trans "Allow Range Exo" %}<br>
            <label><input type="radio" name="range_exo" class="change-modifies-state" value="yes">{% trans "Yes" %}</label>
            <label><input type="radio" name="range_exo" class="change-modifies-state" value="no">{% trans "No" %}</label>
        </td>
        </tr>
        </table>
    </td>
    </tr>
    <tr>
    <td style="vertical-align: top;">
        <table>
        <tr>
        <td>
            <img alt="" src="{% static "chardata/Ga_Pme_Rune.png" %}" class="option_icon">
        </td>
        <td class='big-text'>
            {% trans "Allow MP Exo" %}<br>
            <label><input type="radio" name="mp_exo" class="change-modifies-state" value="yes">{% trans "Yes" %}</label>
            <label><input type="radio" name="mp_exo" class="change-modifies-state" value="gelano">{% trans "Only Gelano" %}</label>
            <label><input type="radio" name="mp_exo" class="change-modifies-state" value="no">{% trans "No" %}</label>
        </td>
        </tr>
        </table>
    </td>
    <td>
        <table>
        <tr>
        <td>
            <img alt="" src="{% static "chardata/Major_Scholar.png" %}" class="option_icon">
        </td>
        <td class='big-text'>
            {% trans "Allow Dofuses and Trophies" %}<br>
            <label><input type="radio" name="dofus" class="change-modifies-state" value="yes">{% trans "Yes" %}</label>
            <label><input type="radio" name="dofus" class="change-modifies-state" value="no">{% trans "No" %}</label>
            <label><input type="radio" name="dofus" class="change-modifies-state" value="lightset">{% trans "Remove only <3" %}</label>
            <br>
            <label><input type="radio" name="dofus" class="change-modifies-state" value="cawwot">{% trans "Allow only Cawwot Dofus" %}</label>
            <br>
            <label><input type="checkbox" name="trophies" class="change-modifies-state">{% trans "Suggest trophies" %}</label>
        </td>
        </tr>
        </table>

    </td>
    </tr>
    {% if version_options.any_mount %}
    <tr>
    <td>
        <table>
        <tr>
        <td>
            <img alt="" src="{% static "chardata/Almond and Ebony Rhineetle.png" %}" class="option_icon">
        </td>
        <td class='big-text'>
            {% trans "Allow Mounts" %}<br>
            {% if version_options.dragoturkey %}<label><input type="checkbox" name="dragoturkey" class="change-modifies-state">{% trans "Dragoturkeys" %}</label>{% endif %}
            {% if version_options.seemyool %}<label><input type="checkbox" name="seemyool" class="change-modifies-state"">{% trans "Seemyools" %}</label> <br>{% endif %}
            {% if version_options.rhineetle %}<label><input type="checkbox" name="rhineetle" class="change-modifies-state">{% trans "Rhineetles" %}</label>{% endif %}
            <br>
            <br>
        </td>
        </tr>
        </table>

    </td>
    </tr>
    {% endif %}
    </table>

    {% if inventory_folders %}
    <div class='big-text' align="center">
        <br>
        <div class="brown-box" align="center">
            {% include "chardata/inventory_source.html" %}
        </div>
    </div>
    {% endif %}

    <div class='big-text' align="center">
                    <br>
                    <br>
       <div class="brown-box" align="center">
                    {% trans "Allow dofuses and prysmaradite:" %} <br><br>
           <div>
            {% for d in version_options.dofuses %}
            <div class="dofus-box">
                <label class='{{ d.key }}'>
                    <img alt="" src="{% static d.img %}" class="option_icon {{ d.key }}"><br>
                    <input type="checkbox" name="{{ d.key }}" class="change-modifies-state {{ d.key }}"><br>
                    {{ d.label }}
                </label><br>
            </div>
            {% endfor %}
            {% if version_options.prysmaradite %}
            <div class="dofus-box">
                <label class='prysmaradite'>
                    <img alt="" src="{% static "chardata/prysmaradite.png" %}" class="option_icon prysmaradite"><br>
                    <input type="checkbox" name="prysmaradite" class="change-modifies-state prysmaradite"><br>
                    {% trans "Prysmaradite" %}
                </label><br>
            </div>
            {% endif %}
        </div>
    </div>
    <br>
     <div align="center">
        {% include "chardata/state_engine_all_buttons.html" with include_tailor=True %}
     </div>
</form>

<script src="{% static "chardata/stateengine.js" %}"></script>
<script src="{% static "chardata/options.js" %}"></script>
<script>
var initialOptions = {{options | safe}};

$(document).ready(function() {

    setupStateEngine(optionsInit,
            "{% game_url 'options_post' char_id %}",
            initialOptions);
    disableUnusableDofus(initialOptions.dofusnotforchar);
});
</script>
{% endblock %}
