{% extends 'chardata/base.html' %}
{% block meta_robots %}noindex, follow{% endblock %}

{% load i18n %}
{% load static_s3 %}

{% block title %}The Dofus Fashionista: {% trans "Choose a New Password" %}{% endblock %}

{% block main %}
    {% load static_s3 %}
    <link rel="stylesheet" type="text/css" href="{% static "chardata/forms.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static css_files.forms %}" class="forms-css css-file">

    <h1 align="center">{% trans "Choose a New Password" %}</h1>
    <table align="center">
    <tr>
        <td>
            <form method="post" action="{% url 'recover_password' username recover_token %}">
                {% csrf_token %}
                <p class="text">
                    {% blocktrans %}Choose a new password for <b>{{username}}</b>.{% endblocktrans %}
                </p>
                {% if error_message %}
                <p class="text" style="color: red; font-weight: bold;">{{ error_message }}</p>
                {% endif %}
                <p class="text">
                    <label for="new_password">{% trans "New password" %}</label><br>
                    <input type="password" id="new_password" name="new_password" required>
                </p>
                <p class="text">
                    <label for="confirm_password">{% trans "Confirm new password" %}</label><br>
                    <input type="password" id="confirm_password" name="confirm_password" required>
                </p>
                <p>
                    <input class="button-generic" type="submit" value="{% trans "Reset password" %}">
                </p>
            </form>
        </td>
        <td>
            <img src="{% static "chardata/designs/myRegister.png" %}"></img>
        </td>
    </tr>
    </table>
{% endblock %}