{% extends 'chardata/base.html' %}
{% block meta_robots %}noindex, follow{% endblock %}

{% load i18n %}
{% load static_s3 %}

{% block title %}The Dofus Fashionista: {% trans "Password Recovery Requested" %}{% endblock %}

{% block main %}
    {% load static_s3 %}
    <link rel="stylesheet" type="text/css" href="{% static "chardata/forms.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static css_files.forms %}" class="forms-css css-file">

    <h1 align="center"> {% trans "Password Recovery Requested" %} </h1>
    <table align="center">
    <tr>
        <td>
        {% if from_register %}
            <p class='text'>
                {% blocktrans %}There is already an account registered for {{email}}.{% endblocktrans %}
            </p>
        {% endif %}
        {% if email_send_failed %}
            <p class='text'>
                {% trans "We could not send the recovery email right now because the email service is not authenticated or unavailable. Please try again later or contact support." %}
            </p>
        {% else %}
            <p class='text'>
                {% blocktrans %}We have sent an email to {{email}} with a password recovery link. That link can be used to set a new password.{% endblocktrans %}
            </p>
        {% endif %}
        </td>
        <td>
            <img src="{% static "chardata/designs/myRegister.png" %}"></img>
        </td>
    </tr>
    </table>
{% endblock %}
