{% load static_s3 %}
{% load i18n %}
{% load version_url %}
<div class="expand-container">
    <div class="expand-header solution-set-expand-header">
        <div class="solution-set-expand-header-cell" width="100%">
            <span>{{set_result.localized_name}}</span><br>
            <span class="solution-item-level">({{set_result.number_of_items}}/{{set_result.total_number_of_items}} {% trans "pieces" %})</span>
            {% if set_result.id %}
            <br><a class="solution-set-encyclo-link" href="{% game_url 'encyclopedia_set' set_result.id %}" onclick="event.stopPropagation();">{% trans "View this set" %} &gt;</a>
            {% endif %}
        </div>
        <div class="solution-set-expand-header-cell solution-set-icons-list">
            {% for item_file, part in set_result.parts.items %}
                {% with name=part.0 type=part.1 used_in_set=part.2 %}
            <div class="solution-set-icon-container{% if not used_in_set %} grayed-out{% endif %}">
                <img alt="" src="{% static item_file %}" class="solution-set-icon" title="{{name}} ({{type}})">
            </div>
                {% endwith %}
            {% endfor %}
        </div>
    </div>
    <div class="expand-content solution-set-expand-content">
        {% for line in set_result.stats_lines %}
            <span class="solution-inline-stat-line {% if '#r' in line.formatting %}solution-negative-stat-text{% endif %}">
                {% if line.icon_url %}
                    <img class="solution-inline-stat-icon" src="{{ line.icon_url }}" alt="" width="15" height="15" style="width:15px;height:15px;max-width:15px;max-height:15px;vertical-align:middle;">
                {% endif %}
                <span>{% if line.icon_url %}&nbsp;{% endif %}{{line.text}}</span>
            </span>
            <br>
        {% endfor %}
    </div>
</div>

