{% load i18n %}
{% load static_s3 %}
<div class="base-theme-selector-div" id="theme-div">
        <div class='auto-current current-theme'> {% trans "Theme" %} </div>
    </form>
    <div id="other-themes">
        <div class='lighttheme-selector theme-selector' id='theme-light'> {% trans "Light Theme" %}</div>
        <div class='darktheme-selector theme-selector' id='theme-dark'> {% trans "Dark Theme" %} </div>
        <div class='auto-selector theme-selector' id='theme-auto'> {% trans "Auto" %} </div>
    </div>
</div>
