{% extends 'chardata/base.html' %}

{% load i18n l10n static_s3 version_url %}
{% block title %}{% trans "The Dofus Fashionista" %}: {% trans "Weights and Minimums" %}{% endblock %}

{% block main %}

    <link rel="stylesheet" type="text/css" href="{% static "chardata/forms.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static css_files.forms %}" class="forms-css css-file">
    {% include "chardata/jqueryui.html" %}

{% trans "This will reset the tuning sliders back to the default for your build." as confirm_reset %}
<form id="main_form" class="wm-page" method="post" data-focus="{{ focus }}" data-save-before-tailor="1" data-confirm-reset="{{ confirm_reset }}">
    {% csrf_token %}
    <h1 align="center">{% trans "Weights and Minimums" %}</h1>
    {% include "chardata/weights_minimums_block.html" %}

    <div class="wm-actions">
        {% include "chardata/state_engine_all_buttons.html" with include_tailor=True %}
    </div>
</form>

<script src="{% static "chardata/stateengine.js" %}"></script>
<script src="{% static "chardata/weights_minimums.js" %}"></script>
<script>
$(document).ready(function() { wmInit("{% game_url 'weights_mins_post' char_id %}"); });
</script>
{% endblock %}
