{% extends 'chardata/base.html' %}

{% load i18n %}
{% load static_s3 %}
{% load version_url %}

{% block title %}{% trans "The Dofus Fashionista" %}: {% trans "Wizard" %}{% endblock %}

{% block main %}
    <link rel="stylesheet" type="text/css" href="{% static "chardata/solution.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "chardata/forms.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static css_files.solution %}" class="solution-css css-file">
    <link rel="stylesheet" type="text/css" href="{% static css_files.forms %}" class="forms-css css-file">

{% trans "This will reset the tuning sliders back to the default for your build." as confirm_reset %}
<form id="wizard-form" action="{% game_url 'wizard_post' char_id %}" method="post" data-confirm-reset="{{ confirm_reset }}">
    {% csrf_token %}
    <h1 align="center">{% trans "Wizard" %}</h1><br><br>
    <div class= 'wizard-flying-pic'>
         <img src="{{ wizard_pic }}" alt=""></img>
    </div>
    
    <table align="center">
    <tr>
    <td align="center">
        {% include "chardata/wizard_inclusions.html" %}<br><br>
    </td>
    <tr>
    <td>
        {% include "chardata/wizard_options.html" %}<br><br>
    </td>
    </tr>
    <tr>
    <td align="center">
        {% include "chardata/wizard_scrolling.html" %}<br><br>
    </td>
    </tr>
    <tr>
    <td>
        <div class="wizard-div min-stat-name wm-page" align="center">
            <b>{% trans "Weights and Minimums" %}</b><br><br>
            {% include "chardata/weights_minimums_block.html" %}
        </div>
    </td>
    </tr>
    </table>
    <br><br>
    <div align="center">
    <button class='submit-button button-generic rerun-button' id="tailor-set"><img src="{% static 'chardata/1413454601_needle.png' %}" class="button-img" alt="">{% trans "Tailor a New Set" %}</button>
    </div>
</form>
<div id="blanket" style="display:none;"></div>
<div id="popUpDiv" style="display:none;">
    <div class="removing-div"></div>
    <div class="search-div" align="right"></div>
    <div class="items-to-add"></div>
    <table width="100%">
    <tr>
    <td align="left">
        <div id="pages"></div>
    </td>
    <td align="right">
    <div align="right" class="popup-cancel-div">
        <button class='button-generic cancel-popup'>{% trans "Cancel" %}</button>
    </div>
    </td>
    </tr>
    </table>
</div>
{% include "chardata/jqueryui.html" %}
<script src="{% static "chardata/inclusions.js" %}"></script>
<script src="{% static "chardata/options.js" %}"></script>
<script src="{% static "chardata/weights_minimums.js" %}"></script>
<script src="{% static "chardata/solution_popup.js" %}"></script>
<script>

        $.ajaxSetup({
          data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });

// Version prefix used by solution_popup.js for AJAX calls (e.g. '/retro').
// Empty for dofus3. Without this the weapon picker throws and never opens.
var apiBase = '{{ api_base }}';

var initialData = {{ wizard_data | safe }};
var constantData = {{ constant_data | safe }};

function lockItem(itemId, slot, char_id) {
    inclusionsUpdateLine(itemId, slot, constantData.inclusions.items_by_type, constantData.inclusions.slot_to_type)
    $("#blanket").click();
}

$(document).ready(function() {
    inclusionsInit(initialData.inclusions, constantData.inclusions.items_by_type, constantData.inclusions.items_by_type_and_name, constantData.inclusions.slot_to_type,
constantData.inclusions.images_urls);
    optionsInit(initialData.options.options);
    wmInit("", {form: '#wizard-form', mode: 'form'});
    var $temporix = $('input:checkbox[name=temporix]');
    var liftedBoxes = $.map(constantData.options.temporix_lifted, function(key) {
        return '#min_' + key;
    }).join(', ');
    function syncMinimumLimits() {
        var lifted = $temporix.prop('checked');
        $('#section-apmprange .wm-note').prop('hidden', !lifted);
        if (!liftedBoxes) {
            return;
        }
        $(liftedBoxes).each(function() {
            var $field = $(this);
            if ($field.data('limit') === undefined) {
                $field.data('limit', $field.attr('max'));
                $field.data('limit-title', $field.attr('title'));
            }
            if (lifted) {
                $field.removeAttr('max').removeAttr('title');
            } else {
                $field.attr('max', $field.data('limit'));
                $field.attr('title', $field.data('limit-title'));
            }
            $field.siblings('.wm-cap').toggle(!lifted);
        });
    }
    $temporix.change(syncMinimumLimits);
    syncMinimumLimits();
    
    var scrolling = initialData.scrolled.scrolling;
    if (scrolling == null) {
        $("#scrolling option[value='clean']").prop('selected', true);
        $("#scrolling option[value='leave']").remove();
    } else if (scrolling == 100) {
        $("#scrolling option[value='fully']").prop('selected', true);
        $("#scrolling option[value='leave']").remove();
    } else if (scrolling == 'hundred') {
        $("#scrolling option[value='hundred']").prop('selected', true);
        $("#scrolling option[value='leave']").remove();
    } else {
        $("#scrolling option[value='leave']").text('{% trans "Leave scrolling at" %}' + " " + scrolling.Vitality + ", " + scrolling.Wisdom + ", " + scrolling.Strength + ", " + scrolling.Intelligence + ", " + scrolling.Chance + ", " + scrolling.Agility + ".");
        $("#scrolling option[value='leave']").prop('selected', true);
    }
    
    $("#tailor-set").click(function(e) {
        e.preventDefault();
        $("#wizard-form").submit();
    });
    var addButton = $("#button-add-weapon");

    addButton.click(function(e){
        e.stopPropagation();
        populateSwitchDivInitial("weapon", 1, null, {{char_id}}, "", lockItem, false);
        top = $(window).scrollTop();
        popupSwitch(top.pageYOffset + 10);
    });
    
    
    $(".cancel-popup").click(function() {
         top = $(window).scrollTop().pageYOffset + 10;
         popupSwitch(top);
    });
    $("#blanket").click(function() {
         top = $(window).scrollTop().pageYOffset + 10;
         popupSwitch(top);
    });
    disableUnusableDofus(initialData.options.options.dofusnotforchar);
});

</script>

{% endblock %}

