{% load i18n %}
{% load static_s3 %}
<div class="wizard-div min-stat-name" align="center">

<b>{% trans "Exos and mounts" %}:</b> <br><br>
<table align="center" width="90%">
<tr>
<td align="right" width="10%">
    <img src="{% static "chardata/Ga_Pa_Rune.png" %}" class="option_icon" alt="">
</td>
<td align="left" width="22%">{% trans "Allow AP Exo" %}<br>
    <label><input type="radio" name="ap_exo" class="change-modifies-state" value="yes">{% trans "Yes" %}</label> <br>
    <label><input type="radio" name="ap_exo" class="change-modifies-state" value="no">{% trans "No" %}</label>
</td>
<td align="right" width="10%">
    <img src="{% static "chardata/Ga_Pme_Rune.png" %}" class="option_icon" alt="">
</td>
<td align="left" width="25%">{% trans "Allow MP Exo" %}<br>
    <label><input type="radio" name="mp_exo" class="change-modifies-state" value="yes">{% trans "Yes" %}</label> <br>
    <label><input type="radio" name="mp_exo" class="change-modifies-state" value="gelano">{% trans "Only Gelano" %}</label> <br>
    <label><input type="radio" name="mp_exo" class="change-modifies-state" value="no">{% trans "No" %}</label>
</td>
{% if version_options.any_mount %}
<td align="right" width="10%">
    <img src="{% static "chardata/Almond and Ebony Rhineetle.png" %}" class="option_icon" alt="">
</td>
<td align="left" width="22%">
{% trans "Allow Mounts" %}<br>
            {% if version_options.dragoturkey %}<label><input type="checkbox" name="dragoturkey" class="change-modifies-state">{% trans "Dragoturkeys" %}</label> <br>{% endif %}
            {% if version_options.seemyool %}<label><input type="checkbox" name="seemyool" class="change-modifies-state"">{% trans "Seemyools" %}</label> <br>{% endif %}
            {% if version_options.rhineetle %}<label><input type="checkbox" name="rhineetle" class="change-modifies-state">{% trans "Rhineetles" %}</label>{% endif %}
</td>
{% endif %}
</tr>
</table>
</div>
<br><br>
<div class="wizard-div min-stat-name" align="center">
<b>{% trans "Dofuses and Prysmaradite" %}:</b> <br><br>
       <div>
            {% for d in version_options.dofuses %}
            <div class="dofus-box">
                <label class='{{ d.key }}'>
                    <img src="{% static d.img %}" class="option_icon {{ d.key }}" alt=""><br>
                    <input type="checkbox" name="{{ d.key }}" class="change-modifies-state {{ d.key }}"><br>
                    {{ d.label }}
                </label><br>
            </div>
            {% endfor %}
            {% if version_options.prysmaradite %}
            <div class="dofus-box">
                <label class='prysmaradite'>
                    <img src="{% static "chardata/prysmaradite.png" %}" class="option_icon prysmaradite" alt=""><br>
                    <input type="checkbox" name="prysmaradite" class="change-modifies-state prysmaradite"><br>
                    {% trans "Prysmaradite" %}
                </label><br>
            </div>
            {% endif %}
        </div>
<div align="center" class="small-explain">
    <br>({% trans "Check the dofuses we are allowed to use" %})
    </div>
</div>
</div>
{% if inventory_folders %}
<br><br>
<div class="wizard-div min-stat-name" align="center">
    {% include "chardata/inventory_source.html" %}
</div>
{% endif %}
